<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.law.booking">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".activity.Application.TinkerApplications"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:exported="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/newlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/newlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Booking"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <service
            android:name=".activity.tools.Service.MessageNotificationService"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />
        <activity
            android:name=".activity.MainPageActivity.Admin.Timeview_update"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MainPageActivity.Admin.Timeframeactivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.pdf.pdf_activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.ChatSupportlist"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.chat.chatActivity5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.admin_chatsupport"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.law_settings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.google_login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Guess.new_bieInformation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.facebook_login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Guess.Rating_userview"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.events.Rating_event_view"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.Rating_adminview"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.events.AddService_view_event"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.AddService_view"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.events.Event_summary"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.events.history_book_event"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.Admin_summary"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Guess.Guess_summary"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.history_book_admin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.events.setEvent_admin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.set_superAdmin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.settingsEvent.switch_account_event"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.settingsEvent.event_settings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.settingsAdmin.switch_account_admin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.settingsAdmin.admin_settings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.settingsGues.switch_account"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.bookingUi.Bookingmap2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Guess.package_event"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.updateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.events.serviceInfo_update"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.events.delete_eventinfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.events.add_informationevent"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.profile.profileDiscount"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.discount.discount_activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.settingsGues.Change_langact"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myfavorites"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.profile.providerProfile5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.profile.providerProfile4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.welcome"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.bookingUi.Paymentreceipt2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.bookingUi.booknow2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.events.Bookingmap_Event"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Guess.addReviewActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.maps.MapsActivity3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.profile.providerProfile3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Provider.Event_provider"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.events.AddEvent"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.chat.chatActivity3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.Event_userchat"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.maps.MapSelectActivity_profile3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.events.profile_updateEvents"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.events.CreateEventorganizer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.bookingUi.history_book"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.Bookingmap_Admin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.bookingUi.Paymentreceipt"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.bookingUi.Bookingmap"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.bookingUi.booknow"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.AddService"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.addreview.addReviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.profileUser"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.newHome"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.calendar.Scheduleview"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.crop.CropActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.calendar.CalendarAdmin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.MainPageActivity.maps.MapsActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.profile.providerProfile2"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Provider.hmua"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.bookingUi.bookingInterface"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.MyservicePrice"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Guess.facedetection"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.maps.MapsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.maps.MapSelectActivity_profile2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.maps.MapSelectActivity_profile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.Ageandservice"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.profile.providerProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.maps.MapSelectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.FullScreenImageActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.FullScreenImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.chat.chatActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.UserChat"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Provider.Providerprofile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.chat.User_list"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.chat.chatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.profile_updateAdmin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Admin.Createadmin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Guess.profile_update"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Guess.Createacc"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.HomePage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainPageActivity.Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>